.car2go-reserve-container {
  padding: 7px;
  position: absolute;
  right: 0;
  top: 0;

  .btn {
    background: #009fe4;
    border: 0;
    border-radius: 0;
  }
}

.car2go_reserve {
  position: absolute;
  right: 5px;
  top: 7px;
  background: #009fe4;
  border: 0;
  border-radius: 0;
}