$white:       #fff;
$grey:        #efefef;
$dark_grey:   #686868;
$chip_grey:   #c0c0c0;
$yellow_star: #f2ae43;
$dark_blue:   #162d3d;
$light_blue:  #98c1e3;
$bg_red:      #ef502e;
$nav_red:     #af3327;
$menu_blue:   #97c1e2;
$de_blue:     #5e92bb;