@import "colors.css.scss";

.de-header {
  padding:    10px 15px;
  background: $dark_grey;
  color:      $white;
}

.interface {
  input {
    height: 32px;
    padding: 0 10px !important;
    -moz-box-sizing: content-box;
  }
}

#navigation {
  overflow:hidden;
  position:fixed !important;
  left:0 !important;
  right:0;
  top:0;
  bottom: 0;
  width:100% !important;
  height:100% !important;
  visibility: hidden;
  opacity: 0;
}

.navigation-legs {
  position: fixed;
  bottom: 0;
  height: 200px;
  background: $white;
  width: 100%;
  z-index: 50;

  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}


.accordion {
  .arrow {
    position:   absolute;
    height:     50px;
    width:      50px;
    background: #084655;
    padding:    17px 0 0 20px;
    right:      0px;
    height:     100%;
  }
  .arrow-down {
    width:        0;
    height:       0; 
    border-left:  6px solid transparent;
    border-right: 6px solid transparent;
    border-top:   6px solid #fff;
  }
}

.accordion-heading {
  position:relative;
}



#deceng_results {
  
  .deng-weather {
    position:   relative;
    margin-top: 15px;
    color:      $white;

    background: $menu_blue;
    width:      100%;
    height:     95px;
    padding:    0 0 0 10px;

    .temp {
      font-size: 50px;
      color:     white;
      margin:    40px 0 0 10px;
    }

    .weather-info {
      margin: 30px 0 0 10px;

      .weather-icon {
        font-size: 50px;
      }

      .weather-detail {
        margin: 25px 0 0 10px;
      }
    }
  }

  #de_results_accordion {
    margin-top:-2px;
  }

  .de-option {

    background:    $grey;
    //box-shadow:  1px 1px 7px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;

    .de-option-header {
      background:  $de_blue;
      color:       $white;
      font-size:   20px;
      height:      50px;
      font-weight: bold;
      a {
        text-decoration: none;
        color:           $white;
      }
      h3 {
        margin: 0;
        font-family: 'OpenSansLight';
        font-weight: 400;
      }
    }
    .de-content {
      padding: 30px 0 13px 35px;
    }


    .de-additional-content {
      padding: 0 0 0 52px;
    }

    .btn-details {
      width:  80%;
      margin: 0 0 30px 30px;
    }

    .de-travel-mode {
      margin: 18px 10px 0 0;
    }

    .info-number {
      font-size:     30px;
      margin-bottom: 15px;
    }

    .info {

      margin:        0 10px 15px 0;
      background:    #fcfcfc;
      border-radius: 20px;
      padding:       24px 8px;
      text-align:    center;
      width:         93px;
      height:        98px;

      color:       $dark_grey;
      text-align:  center;
      line-height: 14px;
      font-size: 11px;

      span {
        font-size: 18px;
      }
    }

    .de-warning {
      color: $bg_red;
    }

    .de-legs {
      font-family: 'Helvetica Neue', Helvetica, Arial;
      margin: 0;
      
      td {
        font-size: 12px;
      }

      .travel-icon {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        margin: 0 10px 10px 0;
      }
    }
  }

  .de-step:before {
    position: absolute;
    left: -10px;
    top: 13px;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    z-index: 3;
  }

  .de-step {
    position: relative;
    background: #fff;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 5px;
    width: 235px;
  }

  .de-mode {

    width: 30px;
    height: 100%;
    padding: 17px 5px;
    /* border-right: 3px dotted #c0c0c0; */
    margin: 0 9px;
  }

  td {
    position: relative;
    border-left: 1px dotted #ccc;
  }

  // td:before {
  //   content: "";
  //   position: absolute;
  //   width: 10px;
  //   height: 100%;
  //   // top: 19px;
  //   // left: -6px;
  //   // background: $menu_blue;
  //   // border-radius: 7px;
  // }

  .start-nav {
    color:   $de_blue;
    padding: 0 0 20px 30px;
  }
}