@import "colors.css.scss";

.signout-container {
  max-width: 320px;
  padding: 0 10px;
  text-align: center;
  margin: 15px auto;
  background: #fff;
  padding: 30px;

  .btn-red {
    display: block;
    margin-top: 30px;
    width: 100%;
  }
}

.signin-container {
  max-width: 320px;
  padding: 0 10px;
  text-align: center;
  
  input[type=text], input[type=password] {
    font-family: 'OpenSansLight', Helvetica, sans-serif;
    border: none;
    border-radius: 0;
    padding: 24px 15px;
    width:       100%;
    max-width:   300px;
    height:      40px;
    color:       $dark_grey;
    font-style:  italic;
  }

  .btn-signin {
    margin: 10px 0;
  }

  .signin-error, .signup-errors {
    margin: 10px auto;
    max-width: 300px;
  }

  .forgot {
    margin:    0 auto;
    max-width: 300px;
  }

  .or-login-text {
    margin: 5px 0 20px 0;
  }

  .icon-spinner {
    display: inline-block;
  }

  a {
    display: block;
  }

  .btn-password-forget {
    font-size: 13px;
    padding: 10px;
    width: 100%;
  }

  .password-success {
    padding: 0 20px 20px 20px;

    .btn-red {
      margin-top: 10px;
    }
  }

}

#signin {
  position:     fixed;
  width:        100%;
  height:       100%;
  top:          0;
  left:         0;
  bottom:       0;
  right:        0;

  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  z-index: 10000;
  background: $dark_blue;
  color: $white;

  .btn-hide-login {
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
  }

  #user_email {
    margin: 0 0 10px 0;
  }

  .forgot-link {
    margin-bottom: 10px;
    color: $white;
    font-size: 12px;
  }

  
  
  a {
    color:           $light_blue;
    text-decoration: underline;
  }

  .btn-google-auth {
    display: block;
    margin: 0 auto;
  }

  button, .btn-google-auth {
    color:         $white;
    width:         100%;
    max-width:     300px;
    border-radius: 3px;
    background:    $bg_red;
    font-size:     16px;
    padding:       12px 0px;
    border-style:  none;
    text-decoration: none;
  }

  .social-login {
    margin-top: 10px;
  }
  
}