<a href="#" class="overlay-close">×</a>
<nav>
  <% if ( Omg.user.signedIn && Push.enabled() && Push.authorized() ) { %>
    <div class="alert-content"></div>
    <button class="btn-red btn-set-alert">Set Alert</button>
  <% } else if (!Push.enabled()) { %>
    <h3>Alerts</h3>
    <p>Doh! Alerts are currently only available within mobile apps.</p>
    <div class="btn btn-red btn-alert-mobile">Go to mobile apps</div>
  <% } else if (!Push.authorized()) { %>
    <h3>Alerts</h3>
    <p>OMGTransit is not authorized to send push notifications to your device.  It is possible you declined the permission to allow them.</p>
  <% } else { %>
    <h3>Alerts</h3>
    <p>You need to be signed in to add alerts.</p>
    <div class="center">
      <br>
      <a href="#" class="btn btn-primary btn-red btn-signin">Sign In</a><br><br>
      <a href="#" class="signup" style="color:#fff; text-decoration:underline;">Not a member? Sign up.</a>
    </div>
  <% } %>
</nav>