<table class="table stop-table">
  <tbody>
    <% _.each(models, function(item, index) { %> 
      <tr class="route-item <%= item.priority %>" data-route="<%= item.route %>">
        <td width="25%" nowrap class="route-number">
          <i class="<%= item.direction %>"></i><%= item.route %><br>
          <p class="desc">
            <% if(item.platform) { %>
              Platform: <%= item.platform %>,
            <% } %>
            <%= item.description %>
          </p>
        </td>
        <td class="time">
          <i><%= item.TimeText %></i>
            &nbsp;<a href="#" class="btn-alert" data-index="<%= index %>"><i class="icon-omg-alerts"></i></a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>