@import "../colors.css.scss";

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  background: $dark_blue;
}

.platform-ios7plus-cordova {
  .navbar {
    .search {
      top: 20px;
    }
  }
}

.navbar {
  height: 50px;
  
  .nav-button {
    margin: 7px 5px 0 5px;
    padding: 5px;
    color: $white;
  }

  .navbar-inner {
    border:     none;
    background: $dark_blue;
    padding: 0;
  }

  .container {
    text-align: center;
  }

  .btn-right-nav {
    position: absolute;
    top:      0;
    right:    2px;
    width:    25px;
    margin: 0;
    padding: 15px 25px 7px 35px;
  }

  .btn-justify {
    position: absolute;
    top:      0;
    left:     2px;
  }

  .brand {
    padding: 7px 0px 0 20px;
  }
  
  a {
    color: $white;
  }
  a.active {
    color: $white;
  }
  i {
    font-size: 1.5em;
  }

  .search {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    padding: 15px;
  }

  .timer {
    color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    background: $bg_red;
    padding: 4px 6px;
  }
}