@import "colors.css.scss";

#toolbar {
  position: fixed;
  z-index: 51;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: $dark_blue;
  padding-top: 4px;

  ul {
    margin: 0 auto;
    max-width: 960px;

    li {
      list-style: none;
      display: inline-block;
      text-align: center;
      width: 24%;

      .tb-text {
        margin-top: -3px;
        font-size: 11px;
      }

      .icon-omg-map:before, .icon-omg-list:before {
        font-size: 20px;
      }

      a {
        display: block;
        color: white;

        &:hover, &:active {
          color: $bg_red;
          text-decoration: none;
        }
      }
      a.active {
        color: $bg_red;
        text-decoration: none;
      }
    }
  }
}