@font-face {
  font-family: "omgtransit";
  src: url("../fonts/omgfonts.eot");
  src: url("../fonts/omgfonts.eot?#iefix") format("embedded-opentype"), url("../fonts/omgfonts.woff") format("woff"), url("../fonts/omgfonts.ttf") format("truetype"), url("../fonts/omgfonts.svg#omgtransit") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: "omgtransit";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="omgicon-"] {
*/
[class*=icon-omg-] {
  font-family: "omgtransit";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.icon-omg-map:before {
  content: "\e600";
  font-size: 27px;
}

.icon-omg-list:before {
  content: "\e601";
  font-size: 27px;
}

.icon-omg-help:before {
  content: "\e602";
}

.icon-omg-filters:before {
  content: "\e603";
}

.icon-omg-feedback:before {
  content: "\e604";
}

.icon-omg-directions:before {
  content: "\e605";
}

.icon-omg-arrow-right:before {
  content: "\e606";
}

.icon-omg-arrow-left:before {
  content: "\e607";
}

.icon-omg-arrow-down:before {
  content: "\e608";
}

.icon-omg-alerts:before {
  content: "\e609";
}

.icon-omg-arrow-up:before {
  content: "\e60a";
}
